Package: JackSafe
Version: 0.1
Section: misc
Priority: extra
Architecture: all
Depends: 
Installed-Size: 3000
Maintainer: Fred de Borst <felison@gmx.net>
Homepage: www.jacklinx.nl
Description: Student protection add-on for JackLinx
